{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

 <div class="row">
        <div class="col-7">
            <h2>Register</h2>
            {{ render_form(form) }}
        </div>
        <div id="message" class="col-5">
            <div id="lower-case" class="invalid">
                Password has a lower case letter
            </div>
            <div id="upper-case" class="invalid">
                Password has an upper case letter
            </div>
            <div id="number" class="invalid">
                Password contains a number
            </div>
            <div id="min-length" class="invalid">
                Password is longer than 6 characters
            </div>
                <div class="progress">
                    <div id="p-bar" class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

        </div>
    </div>
    <style>
        #message {
            display:none;
        }
        .invalid {
            color: red;
        }

        .valid {
            color: green;
        }
    </style>


    <script>

        let passwordField = document.getElementById("password");
        let lowerCase = document.getElementById("lower-case");
        let upperCase = document.getElementById("upper-case");
        let number = document.getElementById("number");
        let pwMinLength = document.getElementById("min-length");
        let passwordMinLength =6;
        let hasLowerCase = 0;
        let hasUpperCase = 0
        let hasNumber = 0

        passwordField.onfocus = function () {
            let message = document.getElementById("message");
            message.style.display = "block";
            message.style.border = "1px solid";
        }


        console.log(passwordField.value)

        passwordField.onkeyup = function () {
            let progress_bar = document.getElementById("p-bar");
            // Validate lowercase letters
            let lowerCaseLetters = /[a-z]/g;
            let upperCaseLetters = /[A-Z]/g;
            let numbers = /[0-9]/;
            let counter=0;


            if (passwordField.value.match(lowerCaseLetters)) {
                hasLowerCase=1;
                lowerCase.classList.add('valid');
                counter++;
            }
            else{
                hasLowerCase=0;
                lowerCase.classList.remove('valid');
            }


            if (passwordField.value.match(upperCaseLetters)) {
                hasUpperCase=1;
                counter++;
                upperCase.classList.add('valid');
            }else{
                hasUpperCase=0;
                upperCase.classList.remove('valid');
            }


            if (passwordField.value.match(numbers)) {
                hasNumber=1;
                counter++;
                number.classList.add('valid');
            }else{
                hasNumber=0;
                number.classList.remove('valid');
            }

            if (passwordField.value.length>=passwordMinLength) {
                counter++;
                pwMinLength.classList.add('valid');
            }else{
                pwMinLength.classList.remove('valid');
            }

            console.log("counter?",counter)

            if (counter==1){
                progress_bar.style.width="25%";
            }else if (counter==2){
                 progress_bar.style.width="50%";
            }else if(counter==3){
                progress_bar.style.width="75%";
                progress_bar.classList.add('bg-primary');
                progress_bar.classList.remove('bg-success');
            }else if(counter==4){
                 progress_bar.style.width="100%";
                 progress_bar.classList.add('bg-success');

            }else{
                progress_bar.style.width="0%";
            }

        }



    </script>



{% endblock %}